@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.fade-in {
  animation: 1.5s fade-in forwards;
}

@keyframes blur-in {
  0% {
    filter: blur(2rem);
  }
  100% {
    filter: blur(0rem);
  }
}

.blur-in {
  animation: blur-in 1.5s forwards;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 25s linear infinite;
}