.glow {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  filter: blur(5rem);
}

.glow-purple {
  box-shadow: 0px 0px 50rem 12rem #7e2bd03d;
}

.glow-blue {
  box-shadow: 0px 0px 50rem 12rem #0569ff34;
}

.glow-blue-light {
  box-shadow: 0px 0px 50rem 12rem #3f7bbf3b;
}
